<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>
    
      <div class="footer-col footer-col-1">
        <a href="https://mcpedl.com/user/jwforever5504/">
          <img src="/assets/mcpedl.png" alt="MCPEDL" width="32" height="32">
        </a>
        <a href="https://youtube.com/channel/UCW_dsmLJe5dIrVw34y9IOew/">
          <img src="/assets/youtube.png" alt="YouTube" width="32" height="32">
        </a>
      </div>

      <div class="footer-col footer-col-3">
        <p>Welcome to my website! Here you will find links and downloads of my content. Have fun!</p>
      </div>
    </div>

  </div>

</footer>
