<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>
  <div class="wrapper">
    <h2 class="footer-heading">{{ site.title | escape }}</h2>
      <div class="footer-col footer-col-1">
      {%- include social.html -%}
      </div>
    <div class="footer-col footer-col-3">
      <p>
        <a href="https://discord.gg/d2j6aUTvq4"><img src="assets/disciord.svg" alt="S3XT4 Studio" style="width:42px;height:42px;"></a>
      </p>
    </div>
  </div>
</footer>
