<ul class="social-media-list">
  {%- if site.mcpedl_username -%}<li><a href="https://youtube.com/{{ site.mcpedl_username| cgi_escape | escape }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/mcpedl.png' | relative_url }}"></use></svg></a></li>{%- endif -%}
  {%- if site.youtube_username -%}<li><a href="https://youtube.com/{{ site.youtube_username| cgi_escape | escape }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/youtube.png' | relative_url }}"></use></svg></a></li>{%- endif -%}
</ul>
